aiohttp==3.8.4
beautifulsoup4==4.12.3
discord.py==2.4.0
fuzzywuzzy==0.18.0
graphene==3.3
motor==3.5.1
openpyxl==3.1.5
pendulum==3.0.0
Pillow==10.4.0
praw==7.7.1
pymongo==4.8.0
python-dotenv==1.0.1
pytz==2024.1
Requests==2.32.3
urllib3==2.2.2
youtube_dl==2021.12.17
